@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');


.buttoncolour {
  height: 30px;
  width: 70px;
  border-radius: 30px;
  position: absolute;
  left: 90%;
  top: 10%;
  background: #9600ff;
  z-index: 2;
}

.buttonmonochrome {
  height: 30px;
  width: 70px;
  border-radius: 30px;
  position: absolute;
  left: 90%;
  top: 10%;
  background: #333333;
  z-index: 2;
}

a{
  text-decoration: none;
}

a:link {
    color: #ffffff;
}

a:visited {
  color: #ffffff;
}

p {
  padding: 5px;
  font-family: 'IBM Plex Mono', monospace;
  color: #ffffff;
  margin: 1px;
  margin-left: 7px;
  font-size: 15px;
}

.colourblock {
  width: 100%;
  margin-left: 30px;
  height: 200px;
  margin-top: 70%;
  position: absolute;
  padding-top: 200px;
  padding-bottom: 100px;
}

.showcase1 {
  padding-left: 30%;
  width: 1700px;
  height: 571px;
}

.showcase2 {
  padding-left: 2%;
  padding-top:5%;
  width: 1700px;
  height: 201px;
  padding-right: 20%;

}

/* .showcase3 {
  padding-left: 3%;
  padding-top:400px;
  width: 1700px;
  height: 201px;

} */

.alphabet {
  width: 1550px;
  padding-left: 50px;
  padding-top: 3000px;
  /* position: absolute; */
}

body {
  background: #333333;
  width: 100%;
}

.whitebg {
  width: 101%;
  margin-left: -20px;
  margin-top: -60px;
  height: 1000px;
  background: #ffffff;
  position: absolute;
  padding-top: 80px;
  /* z-index: 1; */
}

.bwcolour {
  width: 101%;
  margin-left: -100px;
  margin-top: 300px;
  height: 1000px;
  /* background: #333333; */
  position: absolute;
}

.centerstage {
  width: 100%;
  height: 600px;
  margin: auto;
  margin-top: 10%;
  position: relative;
  padding-left: 12%;
  padding-right: 10%;
}

.stage {
	width: 235px;
	height: 570px;
	margin: 20px;
  /* background: #333333; */
	float: left;
  position: relative;
}

.stagewide {
	width: 450px;
	height: 570px;
	margin: 20px;
	/* background: #333333; */
	float: left;
  position: relative;
}

.stagethin {
	width: 100px;
	height: 570px;
	margin: 20px;
	/* background: #333333; */
	float: left;
  position: relative;
}

.stage * {
  transition: all 350ms ease;
}

.stagewide * {
  transition: all 350ms ease;
}

.stagethin * {
  transition: all 350ms ease;
}

.stage.a:hover #a1{
  clip-path: inset(50px 120px 0px 0px);
}

.stage.a:hover #a2{
  top: 237px;
  height: 99px;
}

.stage.a:hover #a3{
  width: 0px;
  left: 223px;
}

.stage.a:hover #a4{
  clip-path: inset(0px 0px 78px 90px);
}

.stage.a:hover #a5{
  clip-path: inset(0px 0px 78px 120px);
}

#a1 {
  width: 180px;
  height: 120px;
  border-radius: 180px;
  left: 0px;
  top: 273px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(80px 0px 0px 70px);
  background-color: transparent;
}

#a2 {
  width: 3px;
  height: 45px;
  background: #ffffff;
  top: 353px;
  left: 181px;
  position: absolute;
}

#a3 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  left: 183px;
  position: absolute;
}

#a4 {
  width: 180px;
  height: 120px;
  border-radius: 180px;
  left: 0px;
  top: 273px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 100px 80px 0px);
  background-color: transparent;
}

#a5 {
  width: 180px;
  height: 120px;
  border-radius: 180px;
  left: 0px;
  top: 193px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 70px 90px 0px);
  background-color: transparent;
}

.stage.b:hover #b1{
  width: 0px;
}

.stage.b:hover #b2{
  height: 150px;
  top: 50px;
}

.stage.b:hover #b3{
  height: 150px;
  top: 130px;
}

.stage.b:hover #b4{
  width: 0px;
}

.stage.b:hover #b5{
  clip-path: inset(70px -50px 0px 80px);
}

.stage.b:hover #b6{
  clip-path: inset(0px 70px 90px -20px);
}

#b1 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 0px;
  left: 0px;
  position: absolute;
}

#b2 {
  width: 3px;
  height: 50px;
  background: #ffffff;
  top: 0px;
  left: 40px;
  position: absolute;
}

#b3 {
  width: 3px;
  height: 80px;
  background: #ffffff;
  top: 318px;
  left: 40px;
  position: absolute;
}

#b4 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  left: 0px;
  position: absolute;
}

#b5 {
  width: 170px;
  height: 200px;
  border-radius: 180px;
  left: 39px;
  top: 190px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(130px 70px 0px 0px);
  background-color: transparent;
}

#b6 {
  width: 170px;
  height: 200px;
  border-radius: 180px;
  left: 40px;
  top: 190px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 0px 110px 70px);
  background-color: transparent;
}

.stage.c:hover #c1{
  clip-path: inset(0px 150px 0px -30px);
}

.stage.c:hover #c2{
  top: 190px;
  clip-path: inset(0px 150px 130px 40px);
}

.stage.c:hover #c3{
  height: 0px;
}

#c1 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 0px;
  top: 190px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(130px 0px 0px 50px);
  background-color: transparent;
}

#c2 {
  width: 180px;
  height: 180px;
  border-radius: 180px;
  left: 0px;
  top: 190px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 16px 130px 40px);
  background-color: transparent;
}

#c3 {
  width: 3px;
  height: 45px;
  background: #ffffff;
  top: 192px;
  left: 170px;
  position: absolute;
}

.stage.d:hover #d1{
  width: 0px;
  left: 190px;
}

.stage.d:hover #d2{
  width: 0px;
}

.stage.d:hover #d3{
  height: 170px;
  top: 130px;
}

.stage.d:hover #d4{
  height: 150px;
  top: 50px;
}

.stage.d:hover #d5{
  clip-path: inset(100px 120px 0px -30px);
}

.stage.d:hover #d6{
  clip-path: inset(0px -30px 90px 100px);
}

#d1 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 0px;
  left: 146px;
  position: absolute;
}

#d2 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  left: 186px;
  position: absolute;
}

#d3 {
  width: 3px;
  height: 78px;
  background: #ffffff;
  top: 320px;
  left: 183px;
  position: absolute;
}

#d4 {
  width: 3px;
  height: 50px;
  background: #ffffff;
  top: 0px;
  left: 183px;
  position: absolute;
}

#d5 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 0px;
  top: 190px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(130px 0px 0px 70px);
  background-color: transparent;
}

#d6 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 0px;
  top: 190px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 70px 110px 0px);
  background-color: transparent;
}

.stage.e:hover #e1{
  clip-path: inset(170px 100px 0px 0px);
}

.stage.e:hover #e2{
  clip-path: inset(120px 0px 90px 130px);
}

.stage.e:hover #e3{
  clip-path: inset(0px 100px 130px 0px);
}

.stage.e:hover #e4{
  width: 120px;
  left: 0px;
}

#e1 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 0px;
  top: 190px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(40px 60px 40px 0px);
  background-color: transparent;
}

#e2 {
  width: 180px;
  height: 180px;
  border-radius: 180px;
  left: 0px;
  top: 210px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(120px 0px 0px 90px);
  background-color: transparent;
}

#e3 {
  width: 180px;
  height: 180px;
  border-radius: 180px;
  left: 0px;
  top: 190px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 0px 95px 90px);
  background-color: transparent;
}

#e4 {
  width: 60px;
  height: 3px;
  background: #ffffff;
  top: 280px;
  left: 126px;
  position: absolute;
  }

  .stage.e:hover #titlee1{
    clip-path: inset(170px 100px 0px 0px);
  }

  .stage.e:hover #titlee2{
    clip-path: inset(120px 0px 90px 130px);
  }

  .stage.e:hover #titlee3{
    clip-path: inset(0px 100px 130px 0px);
  }

  .stage.e:hover #titlee4{
    width: 120px;
    left: 0px;
  }

  #titlee1 {
    width: 180px;
    height: 200px;
    border-radius: 180px;
    left: 0px;
    top: 190px;
    position: absolute;
    border:3px solid #333333;
    clip-path: inset(40px 60px 40px 0px);
    background-color: transparent;
  }

  #titlee2 {
    width: 180px;
    height: 180px;
    border-radius: 180px;
    left: 0px;
    top: 210px;
    position: absolute;
    border:3px solid #333333;
    clip-path: inset(120px 0px 0px 90px);
    background-color: transparent;
  }

  #titlee3 {
    width: 180px;
    height: 180px;
    border-radius: 180px;
    left: 0px;
    top: 190px;
    position: absolute;
    border:3px solid #333333;
    clip-path: inset(0px 0px 95px 90px);
    background-color: transparent;
  }

  #titlee4 {
    width: 60px;
    height: 3px;
    background: #333333;
    top: 280px;
    left: 126px;
    position: absolute;
    }

.stagethin.f:hover #f1{
  width: 0px;
  left: 35px;
}

.stagethin.f:hover #f2{
  width: 0px;
}

.stagethin.f:hover #f3{
  width: 0px;
}

.stagethin.f:hover #f5{
  height: 267px;
  top: 68px;
}

.stagethin.f:hover #f6{
  clip-path: inset(68px 40px 42px 0px);
}

/* .stage.f:hover #f4{
  width: 0px;
} */

#f1 {
  width: 30px;
  height: 3px;
  left: 5px;
  background: #ffffff;
  top: 190px;
  position: absolute;
  }

#f2 {
  width: 30px;
  height: 3px;
  left: 35px;
  background: #ffffff;
  top: 190px;
  position: absolute;
  }

#f3 {
  width: 80px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  position: absolute;
  }

/* #f4 {
  width: 40px;
  height: 5px;
  left: 40px;
  background: #000000;
  top: 395px;
  position: absolute;
  } */

#f5 {
  width: 3px;
  height: 50px;
  left: 37px;
  background: #ffffff;
  top: 345px;
  position: absolute;
  }

#f6 {
  width: 80px;
  height: 100px;
  border-radius: 80px;
  left: 37px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 40px 42px 0px);
  background-color: transparent;
}

.stage.g:hover #g1{
  clip-path: inset(0px 90px 70px 0px);
}

.stage.g:hover #g2{
  clip-path: inset(90px 0px 0px 110px);
}

.stage.g:hover #g3{
  height: 180px;
  top: 300px;
}

.stage.g:hover #g4{
  width: 0px;
  left: 225px;
}

.stage.g:hover #g5{
  clip-path: inset(120px 0px 0px 90px);
}

#g1 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 0px;
  top: 190px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(130px 70px 0px 0px);
  background-color: transparent;
}

#g2 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 0px;
  top: 190px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 0px 120px 100px);
  background-color: transparent;
}

#g3 {
  width: 3px;
  height: 87px;
  background: #ffffff;
  top: 190px;
  left: 183px;
  position: absolute;
}

#g4 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 190px;
  left: 185px;
  position: absolute;
}

#g5 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 0px;
  top: 360px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(130px 70px 0px 0px);
  background-color: transparent;
}

.stage.h:hover #h1{
  width: 0px;
  left: 40px;
}

.stage.h:hover #h2{
  width: 0px;
}

.stage.h:hover #h3{
  height: 150px;
  top: 50px;
}

.stage.h:hover #h4{
  height: 0px;
  top: 395px;
}

.stage.h:hover #h5{
  clip-path: inset(0px 0px 88px 40px);
}

.stage.h:hover #h6{
  height: 0px;
  top: 395px;
}

.stage.h:hover #h7{
  width: 0px;
}

.stage.h:hover #h8{
  top: 279px;
  height: 69px;
}

#h1 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 0px;
  left: 0px;
  position: absolute;
}

#h2 {
  width: 80px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  position: absolute;
}

#h3 {
  width: 3px;
  height: 50px;
  background: #ffffff;
  top: 0px;
  left: 37px;
  position: absolute;
}

#h4 {
  width: 3px;
  height: 50px;
  left: 37px;
  background: #ffffff;
  top: 345px;
  position: absolute;
}

#h5 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 37px;
  top: 192px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 145px 120px 0px);
  background-color: transparent;
}

#h6 {
  width: 3px;
  height: 80px;
  left: 220px;
  background: #ffffff;
  top: 315px;
  position: absolute;
}

#h7 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  left: 220px;
  position: absolute;
}

#h8 {
  width: 3px;
  height: 79px;
  background: #ffffff;
  top: 200px;
  left: 37px;
  position: absolute;
}

.stagethin.i:hover #i1{
  width: 0px;
}

.stagethin.i:hover #i2{
  top: 240px;
  height: 90px;
}

.stagethin.i:hover #i3{
  top: 295px;
  height: 60px;
}

.stagethin.i:hover #i4{
  width: 0px;
}

.stagethin.i:hover #i5{
  border:0px solid transparent;
  left: 37px;
  top: 128px;
}

#i1 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 190px;
  left: 0px;
  position: absolute;
}

#i2 {
  width: 3px;
  height: 50px;
  background: #ffffff;
  top: 190px;
  left: 37px;
  position: absolute;
}

#i3 {
  width: 3px;
  height: 50px;
  left: 37px;
  background: #ffffff;
  top: 345px;
  position: absolute;
}

#i4 {
  width: 80px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  position: absolute;
}

#i5 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 30px;
  top: 125px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
}

.stagethin.j:hover #j1{
  width: 0px;
}

.stagethin.j:hover #j2{
  top: 240px;
  height: 260px;
}

.stagethin.j:hover #j3{
  clip-path: inset(40px 0px 60px 40px);
}

.stagethin.j:hover #j4{
  border:0px solid transparent;
  left: 37px;
  top: 128px;
}

#j1 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 190px;
  left: 0px;
  position: absolute;
}

#j2 {
  width: 3px;
  height: 50px;
  background: #ffffff;
  top: 190px;
  left: 40px;
  position: absolute;
}

#j3 {
  width: 80px;
  height: 100px;
  border-radius: 50px;
  left: -43px;
  top: 460px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(40px 0px 0px 43px);
  background-color: transparent;
}

#j4 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 30px;
  top: 125px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
}

.stagethin.l:hover #l1{
  width: 0px;
  /* background-color: #da00ff; */
}

.stagethin.l:hover #l2{
  top: 50px;
  height: 295px;
  /* background-color: #da00ff; */
}

.stagethin.l:hover #l3{
  width: 0px;
}

.stagethin.l:hover #l4{
  height: 0px;
}

#l1 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 0px;
  left: 0px;
  position: absolute;
}

#l2 {
  width: 3px;
  height: 50px;
  background: #ffffff;
  top: 0px;
  left: 40px;
  position: absolute;
}

#l3 {
    width: 80px;
    height: 3px;
    background: #ffffff;
    top: 395px;
    position: absolute;
}

#l4 {
  width: 3px;
  height: 50px;
  left: 40px;
  background: #ffffff;
  top: 345px;
  position: absolute;
}

.stage.k:hover #k1{
  width: 0px;
}

.stage.k:hover #k2{
  height: 200px;
  top: 55px;
}

.stage.k:hover #k3{
  height: 198px;
  top: 145px;
}

.stage.k:hover #k4{
  width: 0px;
}

.stage.k:hover #k5{
  width: 0px;
  left: 225px;
}

.stage.k:hover #k6{
  width: 0px;
  left: 225px;
}

.stage.k:hover #k7{
  height: 187px;
  top: 183px;
  left: 105px;
}

.stage.k:hover #k8{
  height: 103px;
  top: 280px;
  left: 125px;
}


#k1 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 0px;
  left: 0px;
  position: absolute;
}

#k2 {
  width: 3px;
  height: 50px;
  background: #ffffff;
  top: 0px;
  left: 40px;
  position: absolute;
}

#k3 {
  width: 3px;
  height: 50px;
  background: #ffffff;
  top: 345px;
  left: 40px;
  position: absolute;
}

#k4 {
    width: 80px;
    height: 3px;
    background: #ffffff;
    top: 395px;
    position: absolute;
}

#k5 {
    width: 80px;
    left: 145px;
    height: 3px;
    background: #ffffff;
    top: 190px;
    position: absolute;
}

#k6 {
    width: 40px;
    left: 185px;
    height: 3px;
    background: #ffffff;
    top: 395px;
    position: absolute;
}

#k7 {
    width: 3px;
    left: 175px;
    height: 40px;
    background: #ffffff;
    top: 185px;
    position: absolute;
    transform: rotate(45deg);
}

#k8 {
    width: 3px;
    left: 170px;
    height: 40px;
    background: #ffffff;
    top: 363px;
    position: absolute;
    transform: rotate(135deg);
}

.stagewide.m:hover #m1{
  width: 0px;
}

.stagewide.m:hover #m2{
  top: 278px;
  height: 50px;
}

.stagewide.m:hover #m3{
  top: 295px;
  height: 60px;
}

.stagewide.m:hover #m4{
  width: 0px;
}

.stagewide.m:hover #m5{
  clip-path: inset(0px 30px 120px 40px);
}

.stagewide.m:hover #m6{
  top: 275px;
}

.stagewide.m:hover #m7{
  width: 0px;
}

.stagewide.m:hover #m8{
  clip-path: inset(85px 0px 120px 150px);
}

.stagewide.m:hover #m9{
  clip-path: inset(0px 40px 145px 50px);
}

.stagewide.m:hover #m10{
  clip-path: inset(70px 0px 140px 140px);
}

.stagewide.m:hover #m11{
  top: 260px;
  height: 85px;
}

.stagewide.m:hover #m12{
  width: 0px;
}

#m1 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 190px;
  left: 0px;
  position: absolute;
}

#m2 {
  width: 3px;
  height: 90px;
  background: #ffffff;
  top: 190px;
  left: 37px;
  position: absolute;
}

#m3 {
  width: 3px;
  height: 50px;
  left: 37px;
  background: #ffffff;
  top: 345px;
  position: absolute;
}

#m4 {
  width: 80px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  position: absolute;
}

#m5 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 37px;
  top: 192px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 145px 120px 0px);
  background-color: transparent;
}

#m6 {
  width: 3px;
  height: 50px;
  left: 220px;
  background: #ffffff;
  top: 345px;
  position: absolute;
}

#m7 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  left: 220px;
  position: absolute;
}

#m8 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 37px;
  top: 192px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 0px 120px 150px);
  background-color: transparent;
}

#m9 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 207px;
  top: 192px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 160px 145px 8px);
  background-color: transparent;
}

#m10 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 207px;
  top: 192px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 0px 145px 140px);
  background-color: transparent;
}

#m11 {
  width: 3px;
  height: 50px;
  left: 385px;
  background: #ffffff;
  top: 345px;
  position: absolute;
}

#m12 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  left: 385px;
  position: absolute;
}

.stagewide.m:hover #titlem1{
  width: 0px;
}

.stagewide.m:hover #titlem2{
  top: 278px;
  height: 50px;
}

.stagewide.m:hover #titlem3{
  top: 295px;
  height: 60px;
}

.stagewide.m:hover #titlem4{
  width: 0px;
}

.stagewide.m:hover #titlem5{
  clip-path: inset(0px 30px 120px 40px);
}

.stagewide.m:hover #titlem6{
  top: 275px;
}

.stagewide.m:hover #titlem7{
  width: 0px;
}

.stagewide.m:hover #titlem8{
  clip-path: inset(85px 0px 120px 150px);
}

.stagewide.m:hover #titlem9{
  clip-path: inset(0px 40px 145px 50px);
}

.stagewide.m:hover #titlem10{
  clip-path: inset(70px 0px 140px 140px);
}

.stagewide.m:hover #titlem11{
  top: 260px;
  height: 85px;
}

.stagewide.m:hover #titlem12{
  width: 0px;
}

#titlem1 {
  width: 40px;
  height: 3px;
  background: #333333;
  top: 190px;
  left: 0px;
  position: absolute;
}

#titlem2 {
  width: 3px;
  height: 90px;
  background: #333333;
  top: 190px;
  left: 37px;
  position: absolute;
}

#titlem3 {
  width: 3px;
  height: 50px;
  left: 37px;
  background: #333333;
  top: 345px;
  position: absolute;
}

#titlem4 {
  width: 80px;
  height: 3px;
  background: #333333;
  top: 395px;
  position: absolute;
}

#titlem5 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 37px;
  top: 192px;
  position: absolute;
  border:3px solid #333333;
  clip-path: inset(0px 145px 120px 0px);
  background-color: transparent;
}

#titlem6 {
  width: 3px;
  height: 50px;
  left: 220px;
  background: #333333;
  top: 345px;
  position: absolute;
}

#titlem7 {
  width: 40px;
  height: 3px;
  background: #333333;
  top: 395px;
  left: 220px;
  position: absolute;
}

#titlem8 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 37px;
  top: 192px;
  position: absolute;
  border:3px solid #333333;
  clip-path: inset(0px 0px 120px 150px);
  background-color: transparent;
}

#titlem9 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 207px;
  top: 192px;
  position: absolute;
  border:3px solid #333333;
  clip-path: inset(0px 160px 145px 8px);
  background-color: transparent;
}

#titlem10 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 207px;
  top: 192px;
  position: absolute;
  border:3px solid #333333;
  clip-path: inset(0px 0px 145px 140px);
  background-color: transparent;
}

#titlem11 {
  width: 3px;
  height: 50px;
  left: 385px;
  background: #333333;
  top: 345px;
  position: absolute;
}

#titlem12 {
  width: 40px;
  height: 3px;
  background: #333333;
  top: 395px;
  left: 385px;
  position: absolute;
}

.stage.n:hover #n1{
  width: 0px;
}

.stage.n:hover #n2{
  top: 278px;
  height: 50px;
}

.stage.n:hover #n3{
  top: 295px;
  height: 60px;
}

.stage.n:hover #n4{
  width: 0px;
}

.stage.n:hover #n5{
  clip-path: inset(0px 0px 120px 40px);
}

.stage.n:hover #n6{
  top: 276px;
  height: 70px;
}

.stage.n:hover #n7{
  width: 0px;
}

#n1 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 190px;
  left: 0px;
  position: absolute;
}

#n2 {
  width: 3px;
  height: 90px;
  background: #ffffff;
  top: 190px;
  left: 37px;
  position: absolute;
}

#n3 {
  width: 3px;
  height: 50px;
  left: 37px;
  background: #ffffff;
  top: 345px;
  position: absolute;
}

#n4 {
  width: 80px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  position: absolute;
}

#n5 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 37px;
  top: 192px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 145px 120px 0px);
  background-color: transparent;
}

#n6 {
  width: 3px;
  height: 50px;
  left: 220px;
  background: #ffffff;
  top: 345px;
  position: absolute;
}

#n7 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  left: 220px;
  position: absolute;
}

.stage.o:hover #o1{
  clip-path: inset(0px 105px 120px 0px);
}

.stage.o:hover #o2{
  clip-path: inset(100px 0px 0px 100px);
}

#o1 {
  width: 170px;
  height: 200px;
  border-radius: 180px;
  left: 0px;
  top: 190px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(130px 70px 0px 0px);
  background-color: transparent;
}

#o2 {
  width: 170px;
  height: 200px;
  border-radius: 180px;
  left: 0px;
  top: 190px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 0px 110px 70px);
  background-color: transparent;
}

.stage.p:hover #p1{
  clip-path: inset(100px 120px 0px -30px);
}

.stage.p:hover #p2{
  clip-path: inset(0px -30px 90px 100px);
}

.stage.p:hover #p3{
  width: 0px;
}

.stage.p:hover #p4{
  top: 280px;
}

.stage.p:hover #p5{
  width: 0px;
}

.stage.p:hover #p6{
  top: 350px;
  height: 120px;
}

#p1 {
  width: 170px;
  height: 200px;
  border-radius: 180px;
  left: 40px;
  top: 190px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(130px 0px 0px 70px);
  background-color: transparent;
}

#p2 {
  width: 170px;
  height: 200px;
  border-radius: 180px;
  left: 40px;
  top: 190px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 70px 110px 0px);
  background-color: transparent;
}

#p3 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 190px;
  left: 0px;
  position: absolute;
}

#p4 {
  width: 3px;
  height: 90px;
  background: #ffffff;
  top: 190px;
  left: 40px;
  position: absolute;
}

#p5 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 567px;
  left: 0px;
  position: absolute;
}

#p6 {
  width: 3px;
  height: 78px;
  background: #ffffff;
  top: 492px;
  left: 40px;
  position: absolute;
}

.stage.q:hover #q1{
  clip-path: inset(100px 0px 0px 70px);
}

.stage.q:hover #q2{
  clip-path: inset(0px 70px 100px 0px);
}

.stage.q:hover #q3{
  width: 0px;
}

.stage.q:hover #q4{
  top: 280px;
}

.stage.q:hover #q5{
  width: 0px;
  left: 190px;
}

.stage.q:hover #q6{
  top: 350px;
  height: 120px;
}

#q1 {
  width: 170px;
  height: 200px;
  border-radius: 180px;
  left: 0px;
  top: 190px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(130px 70px 0px 0px);
  background-color: transparent;
}

#q2 {
  width: 170px;
  height: 200px;
  border-radius: 180px;
  left: 0px;
  top: 190px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 0px 110px 70px);
  background-color: transparent;
}

#q3 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 190px;
  left: 173px;
  position: absolute;
}

#q4 {
  width: 3px;
  height: 90px;
  background: #ffffff;
  top: 190px;
  left: 173px;
  position: absolute;
}

#q5 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 567px;
  left: 173px;
  position: absolute;
}

#q6 {
  width: 3px;
  height: 78px;
  background: #ffffff;
  top: 492px;
  left: 173px;
  position: absolute;
}

.stage.r:hover #r1{
  width: 0px;
}

.stage.r:hover #r2{
  top: 278px;
  height: 50px;
}

.stage.r:hover #r3{
  top: 295px;
  height: 60px;
}

.stage.r:hover #r4{
  width: 0px;
}

.stage.r:hover #r5{
  clip-path: inset(0px 210px 120px 0px);
}

.stage.r:hover #r6{
  clip-path: inset(0px 40px 150px 40px);
}

#r1 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 190px;
  left: 0px;
  position: absolute;
}

#r2 {
  width: 3px;
  height: 90px;
  background: #ffffff;
  top: 190px;
  left: 37px;
  position: absolute;
}

#r3 {
  width: 3px;
  height: 50px;
  left: 37px;
  background: #ffffff;
  top: 345px;
  position: absolute;
}

#r4 {
  width: 80px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  position: absolute;
}

#r5 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 37px;
  top: 192px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 145px 120px 0px);
  background-color: transparent;
}

#r6 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 37px;
  top: 192px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 0px 150px 140px);
  background-color: transparent;
}

.stage.r:hover #titler1{
  width: 0px;
}

.stage.r:hover #titler2{
  top: 278px;
  height: 50px;
}

.stage.r:hover #titler3{
  top: 295px;
  height: 60px;
}

.stage.r:hover #titler4{
  width: 0px;
}

.stage.r:hover #titler5{
  clip-path: inset(0px 210px 120px 0px);
}

.stage.r:hover #titler6{
  clip-path: inset(0px 40px 150px 40px);
}

#titler1 {
  width: 40px;
  height: 3px;
  background: #333333;
  top: 190px;
  left: 0px;
  position: absolute;
}

#titler2 {
  width: 3px;
  height: 90px;
  background: #333333;
  top: 190px;
  left: 37px;
  position: absolute;
}

#titler3 {
  width: 3px;
  height: 50px;
  left: 37px;
  background: #333333;
  top: 345px;
  position: absolute;
}

#titler4 {
  width: 80px;
  height: 3px;
  background: #333333;
  top: 395px;
  position: absolute;
}

#titler5 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 37px;
  top: 192px;
  position: absolute;
  border:3px solid #333333;
  clip-path: inset(0px 145px 120px 0px);
  background-color: transparent;
}

#titler6 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 37px;
  top: 192px;
  position: absolute;
  border:3px solid #333333;
  clip-path: inset(0px 0px 150px 140px);
  background-color: transparent;
}

.stage.s:hover #s1{
  clip-path: inset(70px 190px 0px 0px);
}

.stage.s:hover #s2{
  clip-path: inset(0px 0px 45px 150px);
}

.stage.s:hover #s3{
  clip-path: inset(60px 0px -10px 90px);
}

.stage.s:hover #s4{
  clip-path: inset(-20px 60px 10px -30px);
}

.stage.s:hover #s5{
  height: 0px;
  top: 245px;
}

.stage.s:hover #s6{
  height: 0px;
}

#s1 {
  width: 180px;
  height: 120px;
  border-radius: 180px;
  left: 0px;
  top: 270px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(70px 90px 0px 0px);
  background-color: transparent;
}

#s2 {
  width: 135px;
  height: 80px;
  border-radius: 180px;
  left: 20px;
  top: 195px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 0px 45px 70px);
  background-color: transparent;
}

#s3 {
  width: 160px;
  height: 110px;
  border-radius: 180px;
  left: 0px;
  top: 280px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 0px 60px 90px);
  background-color: transparent;
}

#s4 {
  width: 140px;
  height: 82px;
  border-radius: 180px;
  left: 20px;
  top: 195px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(60px 55px 0px 25px);
  background-color: transparent;
}

#s5 {
  width: 3px;
  height: 45px;
  background: #ffffff;
  top: 195px;
  left: 158px;
  position: absolute;
}

#s6 {
  width: 3px;
  height: 50px;
  background: #ffffff;
  top: 340px;
  left: 0px;
  position: absolute;
}

.stagethin.t:hover #t1{
  width: 0px;
  /* background-color: #da00ff; */
}

.stagethin.t:hover #t2{
  top: 50px;
  height: 290px;
  /* background-color: #da00ff; */
}

.stagethin.t:hover #t3{
  clip-path: inset(40px 30px 60px 0px);
}

.stagethin.t:hover #t4{
  width: 0px;
  left: 40px;
}

.stagethin.t:hover #t5{
  width: 0px;
}


#t1 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 0px;
  left: 0px;
  position: absolute;
}

#t2 {
  width: 3px;
  height: 50px;
  background: #ffffff;
  top: 0px;
  left: 40px;
  position: absolute;
}

#t3 {
  width: 80px;
  height: 100px;
  border-radius: 50px;
  left: 40px;
  top: 290px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(40px 43px 0px 0px);
  background-color: transparent;
}

#t4 {
  width: 30px;
  height: 3px;
  left: 10px;
  background: #ffffff;
  top: 190px;
  position: absolute;
  }

#t5 {
  width: 30px;
  height: 3px;
  left: 40px;
  background: #ffffff;
  top: 190px;
  position: absolute;
  }

.stage.u:hover #u1{
  width: 0px;
  left: 40px;
}

.stage.u:hover #u2{
  width: 0px;
}

.stage.u:hover #u3{
  width: 0px;
}

.stage.u:hover #u4{
  clip-path: inset(120px 80px 0px 0px);
}

.stage.u:hover #u5{
  height: 60px;
  top: 252px;
}

.stage.u:hover #u6{
  height: 0px;
}

.stage.u:hover #u7{
  top: 230px;
  height: 80px;
}

#u1 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 190px;
  left: 0px;
  position: absolute;
}

#u2 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 190px;
  left: 220px;
  position: absolute;
}

#u3 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  left: 220px;
  position: absolute;
}

#u4 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 37px;
  top: 192px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(120px 0px 0px 110px);
  background-color: transparent;
}

#u5 {
  width: 3px;
  height: 50px;
  background: #ffffff;
  top: 190px;
  left: 37px;
  position: absolute;
}

#u6 {
  width: 3px;
  height: 80px;
  background: #ffffff;
  top: 315px;
  left: 220px;
  position: absolute;
}

#u7 {
  width: 3px;
  height: 40px;
  background: #ffffff;
  top: 190px;
  left: 220px;
  position: absolute;
}

.stage.v:hover #v1{
  width: 0px;
  left: 60px;
}

.stage.v:hover #v2{
  width: 0px;
}

.stage.v:hover #v3{
  height: 130px;
  left: 71px;
  top: 220px;
}

.stage.v:hover #v4{
  height: 95px;
  left: 167px;
  top: 250px;
}

.stage.v:hover #v5{
  height: 0px;
  left: 148px;
  top: 340px;
}

.stage.v:hover #v6{
  height: 0px;
  left: 97px;
  top: 340px;
}

#v1 {
  width: 60px;
  height: 3px;
  background: #ffffff;
  top: 190px;
  left: 0px;
  position: absolute;
}

#v2 {
  width: 60px;
  height: 3px;
  background: #ffffff;
  top: 190px;
  left: 180px;
  position: absolute;
}

#v3 {
  width: 3px;
  height: 40px;
  background: #ffffff;
  top: 190px;
  left: 35px;
  position: absolute;
  transform: rotate(-25deg);
}

#v4 {
  width: 3px;
  height: 60px;
  background: #ffffff;
  top: 190px;
  left: 200px;
  position: absolute;
  transform: rotate(25deg);
}

#v5 {
  width: 3px;
  height: 60px;
  background: #ffffff;
  top: 338px;
  left: 135px;
  position: absolute;
  transform: rotate(25deg);
}

#v6 {
  width: 3px;
  height: 60px;
  background: #ffffff;
  top: 338px;
  left: 110px;
  position: absolute;
  transform: rotate(-25deg);
}

.stagewide.w:hover #w1{
  width: 0px;
  left: 60px;
}

.stagewide.w:hover #w2{
  width: 0px;
}

.stagewide.w:hover #w3{
  height: 130px;
  left: 71px;
  top: 220px;
}

.stagewide.w:hover #w4{
  height: 95px;
  left: 313px;
  top: 250px;
}

.stagewide.w:hover #w5{
  height: 80px;
  left: 165px;
  top: 258px;
}

.stagewide.w:hover #w6{
  height: 0px;
  left: 130px;
  top: 398px;
}

.stagewide.w:hover #w7{
  height: 0px;
  left: 248px;
  top: 398px;
}

.stagewide.w:hover #w8{
  height: 80px;
  left: 198px;
  top: 258px;
}

#w1 {
  width: 60px;
  height: 3px;
  background: #ffffff;
  top: 190px;
  left: 0px;
  position: absolute;
}

#w2 {
  width: 60px;
  height: 3px;
  background: #ffffff;
  top: 190px;
  left: 318px;
  position: absolute;
}

#w3 {
  width: 3px;
  height: 40px;
  background: #ffffff;
  top: 190px;
  left: 35px;
  position: absolute;
  transform: rotate(-25deg);
}

#w4 {
  width: 3px;
  height: 60px;
  background: #ffffff;
  top: 190px;
  left: 338px;
  position: absolute;
  transform: rotate(25deg);
}

#w5 {
  width: 3px;
  height: 60px;
  background: #ffffff;
  top: 338px;
  left: 135px;
  position: absolute;
  transform: rotate(25deg);
}

#w6 {
  width: 3px;
  height: 60px;
  background: #ffffff;
  top: 338px;
  left: 110px;
  position: absolute;
  transform: rotate(-25deg);
}

#w7 {
  width: 3px;
  height: 60px;
  background: #ffffff;
  top: 338px;
  left: 257px;
  position: absolute;
  transform: rotate(25deg);
}

#w8 {
  width: 3px;
  height: 60px;
  background: #ffffff;
  top: 338px;
  left: 232px;
  position: absolute;
  transform: rotate(-25deg);
}

.stage.x:hover #x1{
  width: 0px;
  left: 60px;
}

.stage.x:hover #x2{
  width: 0px;
}

.stage.x:hover #x3{
  width: 0px;
  left: 60px;
}

.stage.x:hover #x4{
  width: 0px;
}

.stage.x:hover #x5{
  height: 95px;
  left: 76px;
  top: 210px;
}

.stage.x:hover #x6{
  height: 70px;
  left: 133px;
  top: 235px;
}

.stage.x:hover #x7{
  height: 85px;
  top: 280px;
  left: 89px;
}

.stage.x:hover #x8{
  height: 95px;
  top: 280px;
  left: 135px;
}

#x1 {
  width: 60px;
  height: 3px;
  background: #ffffff;
  top: 190px;
  left: 0px;
  position: absolute;
}

#x2 {
  width: 60px;
  height: 3px;
  background: #ffffff;
  top: 190px;
  left: 165px;
  position: absolute;
}

#x3 {
  width: 60px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  left: 0px;
  position: absolute;
}

#x4 {
  width: 60px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  left: 165px;
  position: absolute;
}

#x5 {
  width: 3px;
  height: 40px;
  background: #ffffff;
  top: 186px;
  left: 35px;
  position: absolute;
  transform: rotate(-40deg);
}

#x6 {
  width: 3px;
  height: 60px;
  background: #ffffff;
  top: 185px;
  left: 180px;
  position: absolute;
  transform: rotate(40deg);
}

#x7 {
  width: 3px;
  height: 60px;
  background: #ffffff;
  top: 344px;
  left: 45px;
  position: absolute;
  transform: rotate(40deg);
}

#x8 {
  width: 3px;
  height: 40px;
  background: #ffffff;
  top: 362px;
  left: 180px;
  position: absolute;
  transform: rotate(-40deg);
}

.stage.y:hover #y1{
  width: 0px;
  left: 60px;
}

.stage.y:hover #y2{
  width: 0px;
}

.stage.y:hover #y3{
  width: 3px;
  height: 111px;
  top: 235px;
  left: 74px;
}

.stage.y:hover #y4{
  height: 0px;
  left: 210px;
  top: 193px;
}

.stage.y:hover #y5{
  top: 240px;
  left: 163px;
}

.stage.y:hover #y6{
  top: 390px;
  height: 0px;
  left: 123px;
}

.stage.y:hover #y7{
  width: 0px;
  left: 40px;
}

.stage.y:hover #y8{
  top: 450px;
  height: 80px;
  left: 77px;
}

#y1 {
  width: 60px;
  height: 3px;
  background: #ffffff;
  top: 190px;
  left: 0px;
  position: absolute;
}

#y2 {
  width: 60px;
  height: 3px;
  background: #ffffff;
  top: 190px;
  left: 180px;
  position: absolute;
}

#y3 {
  width: 3px;
  height: 40px;
  background: #ffffff;
  top: 190px;
  left: 35px;
  position: absolute;
  transform: rotate(-25deg);
}

#y4 {
  width: 3px;
  height: 60px;
  background: #ffffff;
  top: 190px;
  left: 200px;
  position: absolute;
  transform: rotate(25deg);
}

#y5 {
  width: 3px;
  height: 120px;
  background: #ffffff;
  top: 338px;
  left: 120px;
  position: absolute;
  transform: rotate(25deg);
}

#y6 {
  width: 3px;
  height: 60px;
  background: #ffffff;
  top: 338px;
  left: 110px;
  position: absolute;
  transform: rotate(-25deg);
}

#y7 {
  width: 45px;
  height: 3px;
  background: #ffffff;
  top: 567px;
  left: 0px;
  position: absolute;
}

#y8 {
  width: 3px;
  height: 40px;
  background: #ffffff;
  top: 530px;
  left: 51px;
  position: absolute;
  transform: rotate(25deg);
}

.stage.z:hover #z1{
  width: 160px;
  left: 63px;
}

.stage.z:hover #z2{
  width: 120px;
  left: 40px;
}

.stage.z:hover #z3{
  height: 0px;
}

.stage.z:hover #z4{
  height: 0px;
  top: 398px;
}

.stage.z:hover #z5{
  height: 0px;
  top: 250px;
  left: 161px;
}

.stage.z:hover #z6{
  width: 0px;
}

.stage.z:hover #z7{
  height: 150px;
  top: 225px;
  left: 105px;
}

#z1 {
  width: 60px;
  height: 3px;
  background: #ffffff;
  top: 190px;
  left: 0px;
  position: absolute;
}

#z2 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  left: 180px;
  position: absolute;
}

#z3 {
  width: 3px;
  height: 40px;
  background: #ffffff;
  top: 190px;
  left: 0px;
  position: absolute;
}

#z4 {
  width: 3px;
  height: 40px;
  background: #ffffff;
  top: 358px;
  left: 220px;
  position: absolute;
}

#z5 {
  width: 3px;
  height: 80px;
  background: #ffffff;
  top: 183px;
  left: 190px;
  position: absolute;
  transform: rotate(47deg);
}

#z6 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  left: 0px;
  position: absolute;
}

#z7 {
  width: 3px;
  height: 50px;
  background: #ffffff;
  top: 353px;
  left: 19px;
  position: absolute;
  transform: rotate(47deg);
}

.stage.zero:hover #zero1{
  clip-path: inset(45px 0px 0px 110px);
}

.stage.zero:hover #zero2{
  clip-path: inset(0px 110px 45px 0px);
}

.stage.zero:hover #zero3{
  height: 200px;
  top: 50px;
  left: 125px;
}

.stage.zero:hover #zero4{
  height: 180px;
  top: 170px;
  left: 96px;
}

#zero1 {
  width: 220px;
  height: 395px;
  border-radius: 220px;
  left: 0px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 0px 350px 110px);
  background-color: transparent;
}

#zero2 {
  width: 220px;
  height: 395px;
  border-radius: 220px;
  left: 0px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(350px 110px 0px 0px);
  background-color: transparent;
}

#zero3 {
  width: 3px;
  height: 40px;
  left: 155px;
  top: 12px;
  position: absolute;
  transform: rotate(15deg);
  background-color: #ffffff;
}

#zero4 {
  width: 3px;
  height: 40px;
  left: 60px;
  top: 345px;
  position: absolute;
  transform: rotate(15deg);
  background-color: #ffffff;
}

.stagethin.one:hover #one1{
  height: 0px;
}

.stagethin.one:hover #one2{
  width: 0px;
  left: 40px;
}

.stagethin.one:hover #one3{
  top: 50px;
  height: 295px;
}

.stagethin.one:hover #one4{
  height: 0px;
  left: 37px;
  top: 0px;
}

.stagethin.one:hover #one5{
  width: 0px;
}

#one1 {
  width: 3px;
  height: 50px;
  left: 37px;
  background: #ffffff;
  top: 345px;
  position: absolute;
}

#one2 {
  width: 40px;
  height: 3px;
  left: 0px;
  background: #ffffff;
  top: 395px;
  position: absolute;
  }

#one3 {
  width: 3px;
  height: 50px;
  left: 37px;
  background: #ffffff;
  top: 0px;
  position: absolute;
}

#one4 {
  width: 3px;
  height: 40px;
  left: 25px;
  background: #ffffff;
  top: -4px;
  position: absolute;
  transform: rotate(40deg);
}

#one5 {
  width: 40px;
  height: 3px;
  left: 40px;
  background: #ffffff;
  top: 395px;
  position: absolute;
}

.stage.two:hover #two1{
  height: 0px;
}

.stage.two:hover #two2{
  width: 80px;
  left: 40px;
}

.stage.two:hover #two3{
  top: 193px;
  height: 190px;
  left: 120px;
}

.stage.two:hover #two4{
  clip-path: inset(0px -20px 30px 110px);
}

.stage.two:hover #two5{
  width: 80px;
  left: 100px;
}

#two1 {
  width: 3px;
  height: 40px;
  background: #ffffff;
  top: 358px;
  left: 220px;
  position: absolute;
}

#two2 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  left: 0px;
  position: absolute;
}

#two3 {
  width: 3px;
  height: 50px;
  background: #ffffff;
  top: 353px;
  left: 19px;
  position: absolute;
  transform: rotate(47deg);
}

#two4 {
  width: 220px;
  height: 250px;
  border-radius: 220px;
  left: 0px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 110px 170px 0px);
  background-color: transparent;
}

#two5 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  left: 180px;
  position: absolute;
}

.stage.three:hover #three1{
  clip-path: inset(0px -40px 40px 100px);
}

.stage.three:hover #three2{
  clip-path: inset(40px -40px 0px 110px);
}

.stage.three:hover #three3{
  clip-path: inset(100px 0px 40px 150px);
}

.stage.three:hover #three4{
  clip-path: inset(40px -20px 0px 110px);
}

#three1 {
  width: 190px;
  height: 180px;
  border-radius: 180px;
  left: 15px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 90px 100px 0px);
  background-color: transparent;
}

#three2 {
  width: 220px;
  height: 210px;
  border-radius: 180px;
  left: 0px;
  top: 184px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(130px 110px 0px 0px);
  background-color: transparent;
}

#three3 {
  width: 190px;
  height: 180px;
  border-radius: 180px;
  left: 15px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(140px 0px 0px 95px);
  background-color: transparent;
}

#three4 {
  width: 220px;
  height: 210px;
  border-radius: 180px;
  left: 0px;
  top: 184px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 0px 170px 110px);
  background-color: transparent;
}

.stage.four:hover #four1{
  height: 0px;
}

.stage.four:hover #four2{
  width: 0px;
  left: 150px;
}

.stage.four:hover #four3{
  top: 50px;
  height: 295px;
}

.stage.four:hover #four4{
  height: 0px;
  left: 143px;
  top: 0px;
}

.stage.four:hover #four5{
  width: 0px;
}

.stage.four:hover #four6{
  width: 160px;
  left: 40px;
}

.stage.four:hover #four7{
  height: 170px;
  left: 75px;
  top: 15px;
}

#four1 {
  width: 3px;
  height: 50px;
  left: 147px;
  background: #ffffff;
  top: 345px;
  position: absolute;
}

#four2 {
  width: 40px;
  height: 3px;
  left: 110px;
  background: #ffffff;
  top: 395px;
  position: absolute;
  }

#four3 {
  width: 3px;
  height: 50px;
  left: 147px;
  background: #ffffff;
  top: 0px;
  position: absolute;
}

#four4 {
  width: 3px;
  height: 40px;
  left: 135px;
  background: #ffffff;
  top: -4px;
  position: absolute;
  transform: rotate(35deg);
}

#four5 {
  width: 40px;
  height: 3px;
  left: 150px;
  background: #ffffff;
  top: 395px;
  position: absolute;
}

#four6 {
  width: 40px;
  height: 3px;
  left: 0px;
  background: #ffffff;
  top: 210px;
  position: absolute;
}

#four7 {
  width: 3px;
  height: 40px;
  left: 10px;
  background: #ffffff;
  top: 175px;
  position: absolute;
  transform: rotate(35deg);
}

.stage.five:hover #five1{
  clip-path: inset(100px -20px 0px 105px);
}

.stage.five:hover #five2{
  clip-path: inset(0px 50px 180px 0px);
}

.stage.five:hover #five3{
  left: 33px;
  width: 75px;
}

.stage.five:hover #five4{
  height: 0px;
  top: 40px;
}

.stage.five:hover #five5{
  height: 175px;
  top: 40px;
  left: 18px;
}

#five1 {
  width: 170px;
  height: 220px;
  border-radius: 180px;
  left: 0px;
  top: 170px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(170px 70px 0px 0px);
  background-color: transparent;
}

#five2 {
  width: 170px;
  height: 220px;
  border-radius: 180px;
  left: 0px;
  top: 170px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 0px 130px 90px);
  background-color: transparent;
}

#five3 {
  width: 55px;
  height: 3px;
  left: 110px;
  background: #ffffff;
  top: 0px;
  position: absolute;
}

#five4 {
  width: 3px;
  height: 40px;
  left: 165px;
  background: #ffffff;
  top: 0px;
  position: absolute;
}

#five5 {
  width: 3px;
  height: 40px;
  left: 30px;
  background: #ffffff;
  top: 0px;
  position: absolute;
  transform: rotate(5deg);
}

.stage.six:hover #six1{
  clip-path: inset(50px -30px 0px 160px);
}

.stage.six:hover #six2{
  clip-path: inset(0px 110px 130px 0px);
}

.stage.six:hover #six3{
  clip-path: inset(0px 150px 50px -30px);
}

#six1 {
  width: 220px;
  height: 220px;
  border-radius: 180px;
  left: 0px;
  top: 175px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(170px 70px 0px 0px);
  background-color: transparent;
}

#six2 {
  width: 220px;
  height: 395px;
  border-radius: 220px;
  left: 0px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 0px 350px 110px);
  background-color: transparent;
}

#six3 {
  width: 220px;
  height: 220px;
  border-radius: 180px;
  left: 0px;
  top: 175px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 0px 170px 70px);
  background-color: transparent;
}

.stage.seven:hover #seven1{
  width: 103px;
  left: 60px;
}

.stage.seven:hover #seven2{
  height: 0px;
  top: 40px;
}

.stage.seven:hover #seven3{
  width: 0px;
}

.stage.seven:hover #seven4{
  top: -10px;
  left: 100px;
  height: 360px;
}

#seven1 {
  width: 60px;
  height: 3px;
  background: #ffffff;
  top: 0px;
  left: 0px;
  position: absolute;
}

#seven2 {
  width: 3px;
  height: 40px;
  background: #ffffff;
  top: 0px;
  left: 0px;
  position: absolute;
}

#seven3 {
  width: 40px;
  height: 3px;
  background: #ffffff;
  top: 395px;
  left: 0px;
  position: absolute;
}

#seven4 {
  width: 3px;
  height: 60px;
  background: #ffffff;
  top: 338px;
  left: 28px;
  position: absolute;
  transform: rotate(20deg);
}

.stage.eight:hover #eight1{
  clip-path: inset(40px 0px 0px 130px);
}

.stage.eight:hover #eight2{
  clip-path: inset(20px 0px 60px 80px);
}

.stage.eight:hover #eight3{
  clip-path: inset(0px 110px 30px -30px);
}

.stage.eight:hover #eight4{
  clip-path: inset(30px 140px 0px -30px);
}

#eight1 {
  width: 190px;
  height: 180px;
  border-radius: 180px;
  left: 15px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 0px 140px 90px);
  background-color: transparent;
}

#eight2 {
  width: 220px;
  height: 210px;
  border-radius: 180px;
  left: 0px;
  top: 184px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(160px 0px 0px 80px);
  background-color: transparent;
}

#eight3 {
  width: 190px;
  height: 180px;
  border-radius: 180px;
  left: 15px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(140px 50px 0px 30px);
  background-color: transparent;
}

#eight4 {
  width: 220px;
  height: 210px;
  border-radius: 180px;
  left: 0px;
  top: 184px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 40px 170px 40px);
  background-color: transparent;
}

.stage.nine:hover #nine1{
  clip-path: inset(50px -30px 0px 160px);
}

.stage.nine:hover #nine2{
  clip-path: inset(100px 0px 0px 110px);
}

.stage.nine:hover #nine3{
  clip-path: inset(0px 150px 50px -30px);
}

#nine1 {
  width: 220px;
  height: 220px;
  border-radius: 180px;
  left: 0px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(170px 70px 0px 0px);
  background-color: transparent;
}

#nine2 {
  width: 220px;
  height: 395px;
  border-radius: 220px;
  left: 0px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(350px 110px 0px 0px);
  background-color: transparent;
}

#nine3 {
  width: 220px;
  height: 220px;
  border-radius: 180px;
  left: 0px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 0px 170px 70px);
  background-color: transparent;
}

.stagethin.fullstop:hover #fullstop1 {
  clip-path: inset(10px 0px 0px 9px);
}

.stagethin.fullstop:hover #fullstop2 {
  clip-path: inset(7px 9px 0px 7px);
}

#fullstop1 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 0px;
  top: 395px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(0px 0px 7px 0px);
}

#fullstop2 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 0px;
  top: 395px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(0px 7px 0px 0px);
}

.stagethin.comma:hover #comma1 {
  clip-path: inset(10px 0px 0px 9px);
}

.stagethin.comma:hover #comma2 {
  clip-path: inset(7px 9px 0px 7px);
}

.stagethin.comma:hover #comma3 {
  clip-path: inset(7px 7px 0px 0px);
}

#comma1 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 0px;
  top: 395px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(0px 0px 7px 0px);
}

#comma2 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 0px;
  top: 395px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(0px 7px 0px 0px);
}

#comma3 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 0px;
  top: 405px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(7px 0px 0px 7px);
}

.stagethin.rightquotation:hover #rightquotation1 {
  clip-path: inset(10px 0px 0px 9px);
}

.stagethin.rightquotation:hover #rightquotation2 {
  clip-path: inset(7px 9px 0px 7px);
}

.stagethin.rightquotation:hover #rightquotation3 {
  clip-path: inset(7px 7px 0px 0px);
}

.stagethin.rightquotation:hover #rightquotation4 {
  clip-path: inset(10px 0px 0px 9px);
}

.stagethin.rightquotation:hover #rightquotation5 {
  clip-path: inset(7px 9px 0px 7px);
}

.stagethin.rightquotation:hover #rightquotation6 {
  clip-path: inset(7px 7px 0px 0px);
}

#rightquotation1 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 0px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(0px 0px 7px 0px);
}

#rightquotation2 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 0px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(0px 7px 0px 0px);
}

#rightquotation3 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 0px;
  top: 10px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(7px 0px 0px 7px);
}

#rightquotation4 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 30px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(0px 0px 7px 0px);
}

#rightquotation5 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 30px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(0px 7px 0px 0px);
}

#rightquotation6 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 30px;
  top: 10px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(7px 0px 0px 7px);
}

.stagethin.leftquotation:hover #leftquotation1 {
  clip-path: inset(10px 9px 0px 0px);
}

.stagethin.leftquotation:hover #leftquotation2 {
  clip-path: inset(7px 9px 0px 7px);
}

.stagethin.leftquotation:hover #leftquotation3 {
  clip-path: inset(7px 0px 0px 7px);
}

.stagethin.leftquotation:hover #leftquotation4 {
  clip-path: inset(10px 9px 0px 0px);
}

.stagethin.leftquotation:hover #leftquotation5 {
  clip-path: inset(7px 9px 0px 7px);
}

.stagethin.leftquotation:hover #leftquotation6 {
  clip-path: inset(7px 0px 0px 7px);
}

#leftquotation1 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 0px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(0px 0px 7px 0px);
}

#leftquotation2 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 0px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(0px 0px 0px 7px);
}

#leftquotation3 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 0px;
  top: 10px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(7px 7px 0px 0px);
}

#leftquotation4 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 30px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(0px 0px 7px 0px);
}

#leftquotation5 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 30px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(0px 0px 0px 7px);
}

#leftquotation6 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 30px;
  top: 10px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(7px 7px 0px 0px);
}

.stagethin.point:hover #point1 {
  clip-path: inset(10px 0px 0px 9px);
}

.stagethin.point:hover #point2 {
  clip-path: inset(7px 9px 0px 7px);
}

.stagethin.point:hover #point3 {
  height: 130px;
  top: 50px;
}

.stagethin.point:hover #point4 {
  height: 80px;
  top: 170px;
}

#point1 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 0px;
  top: 395px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(0px 0px 7px 0px);
}

#point2 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 0px;
  top: 395px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(0px 7px 0px 0px);
}

#point3 {
  width: 3px;
  height: 50px;
  background: #ffffff;
  top: 0px;
  left: 4px;
  position: absolute;
}

#point4 {
  width: 3px;
  height: 80px;
  background: #ffffff;
  top: 250px;
  left: 4px;
  position: absolute;
}

.stage.ques:hover #ques1 {
  clip-path: inset(10px 0px 0px 9px);
}

.stage.ques:hover #ques2 {
  clip-path: inset(7px 9px 0px 7px);
}

.stage.ques:hover #ques3 {
  height: 0px;
  top: 330px;
}

.stage.ques:hover #ques4 {
  clip-path: inset(0px 0px 25px 60px);
}

.stage.ques:hover #ques5 {
  clip-path: inset(150px 30px 0px 160px);
}

#ques1 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 84px;
  top: 395px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(0px 0px 7px 0px);
}

#ques2 {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  left: 84px;
  top: 395px;
  position: absolute;
  border:3px solid #ffffff;
  background-color: transparent;
  clip-path: inset(0px 7px 0px 0px);
}

#ques3 {
  width: 3px;
  height: 127px;
  background: #ffffff;
  top: 203px;
  left: 87px;
  position: absolute;
}

#ques4 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 0px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(0px 100px 110px 0px);
  background-color: transparent;
}

#ques5 {
  width: 180px;
  height: 200px;
  border-radius: 180px;
  left: 0px;
  top: 0px;
  position: absolute;
  border:3px solid #ffffff;
  clip-path: inset(150px 30px 0px 90px);
  background-color: transparent;
}
