  @import url("https://use.typekit.net/vxg0frn.css");
  @import url('https://fonts.googleapis.com/css?family=Chango|Fredoka+One');
  @import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

h1 {
  font-size: 35px;
  font-weight: 700;
  font-family: 'Space Mono', monospace;
  color: blue;
}

h2 {
  font-size: 25px;
  font-weight: 400;
  font-family: 'Space Mono', monospace;
  color: blue;
}

h3 {
  font-family: 'Space Mono', monospace;
  font-size: 65px;
  transform: rotate(90deg);
  color: blue;
}

p {
  font-size: 18px;
  font-weight: 300;
  font-family: 'Space Mono', monospace;
  color: blue;
}

body {
  background-color: #ffe9e4;
  max-height: 100vh;
}

a {
  color: blue;
}

.stage {
	width: 250px;
	height: 300px;
	margin: 100px auto;
  padding-left: 10px;
	position: relative;
  float: left;
}

#col1 {
  /* position: absolute; */
  padding-left: 10%;
  padding-top: 100px;
  height: 300px;
  width: 300px;
}

#col2 {
  /* position: absolute; */
  padding-left: 30%;
  padding-top: 100px;
  height: 300px;
  width: 300px;
}

#col3 {
  /* position: absolute; */
  padding-left: 50%;
  padding-top: 100px;
  height: 300px;
  width: 300px;
}

/* .banner {
  background-position: center;
  margin-top: -500px;
  margin-left: -2%;
  margin-right: -2%;
  position: relative;
} */

.text {
  max-width: 833px;
  min-width: 400px;
}

.fixed {
  position: absolute;
  float: right;
  margin-left: 45%;
  top: 900px;
  width: 100vw;
  height: 100vh;
}
