@import url("https://use.typekit.net/tdy4rhh.css");

body {

}

.sections {
  width: 33vw;
  height: 100vh;
  float: left;
  position: relative;
  z-index: -1;
  top: -10px;
  margin-left: -10px;
}

/* #sections1:hover {
  width: 33vw;
  height: 100vh;
  float: left;
  position: relative;
  z-index: -1;
  top: -10px;
  margin-left: -10px;
  background: red;
} */

#sections1 {
  width: 33vw;
  height: 300px;
  float: left;
  position: absolute;
  z-index: 1;
  top: -10px;
  margin-left: -10px;
}

.workbox {
  width: 33vw;
  height: 1000px;
  z-index: 1;
}

.workbox:hover {
  transition: all 500ms ease;
  padding-top: 450px;
}

img {
  height: 100vh;
}

h1 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 3px;
}

h2 {
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 1px;
}

h3 {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 35px;
  text-align: center;
}

/* h3:hover {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 1px;
  margin-top: 35px;
  text-align: center;
} */

h4 {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1px;
  float: left;
  margin-right: 85px;
}

 p {
   font-family: adobe-garamond-pro, serif;
   font-weight: 400;
   color: #ffffff;
   font-size: 20px;
 }

 a {
   text-decoration: none;
   color: #ffffff;
 }

.about {
  margin-left: 63%;
  margin-right: 10%;
  margin-top: 3%;
  width: 400px;
  position: absolute;
  z-index: 1;
  text-align: left;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 300px;
  text-align: left;
  padding-top: 23%;
  padding-left: 1.5%;
}

.aboutheader {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 300px;
  padding-left: 1.5%;
  text-align: left;
}

#menu {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: #ffffff;
  margin: 5px;
  z-index: 1;
}

/* #menu:active {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: #ffffff;
  margin: 5px;
  z-index: 1;
} */

#menu2 {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: blue;
  margin: 5px;
  z-index: 1;
}

#menu3 {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: #ffffff;
  margin: 5px;
  z-index: 1;
}

@keyframes menu {
  0% {transform: translate(0px; 0px);}
  100% {transform: translate(10px; 0px);}
}

#contractmenu {
  position: absolute;
  width: 800px;
  height: 50px;
  top: 93%;
  z-index: 1;
  padding-left: 1.5%;
}

.expandmenu {
  background: red;
  position: absolute;
  width: 30px;
  height: 500px;
  top: 70%;
  z-index: 1;
}

/* .menu2 {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: blue;
  margin: 5px;
} */
