@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');

body {

}

.sections {
  width: 33%;
  height: 100vh;
  float: left;
  position: relative;
  z-index: -1;
  top: -10px;
}

img {
  height: 100vh;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 60px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  /* border-bottom: 3px solid #ffffff; */
}

 p {
   font-family: 'Lato', sans-serif;
   font-weight: 400;
   color: #ffffff;
   font-size: 20px;
 }

 a {
   text-decoration: none;
 }

 a::before {
   color: #ffffff;
 }

 a::after {
   color: #ffffff;
 }

 a:active {
   color: #ffffff;
 }

.about {
  margin-left: 39%;
  margin-right: 39%;
  margin-top: 3%;
  width: 400px;
  position: absolute;
  z-index: 1;
  text-align: left;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 300px;
  text-align: center;
  padding-top: 23%;
}

.aboutheader {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 300px;
  text-align: center;
}

#menu {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: #ffffff;
  margin: 5px;
  z-index: 1;
}

/* #menu:active {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: #ffffff;
  margin: 5px;
  z-index: 1;
} */

#menu2 {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: blue;
  margin: 5px;
  z-index: 1;
}

#menu3 {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: #ffffff;
  margin: 5px;
  z-index: 1;
}

@keyframes menu {
  0% {transform: translate(0px; 0px);}
  100% {transform: translate(10px; 0px);}
}

#contractmenu {
  position: absolute;
  width: 30px;
  height: 50px;
  top: 5%;
  z-index: 1;
}

.expandmenu {
  background: red;
  position: absolute;
  width: 30px;
  height: 500px;
  top: 70%;
  z-index: 1;
}

/* .menu2 {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: blue;
  margin: 5px;
} */
