@import url("https://use.typekit.net/tdy4rhh.css");

body {
  z-index: -4;
  height: 10px;
}

.sections {
  width: 33vw;
  height: 100vh;
  float: left;
  position: relative;
  z-index: -1;
  top: -10px;
  margin-left: -10px;
  clip-path: circle(90px at center);
  left: 30px;
  top: -250px;
  animation: shake 10s;
	animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: scale(1); }
  70% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@keyframes shakenul {
    0% { transform: translate(0px, 0px) rotate(0deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
}

.sections:hover {
  width: 33vw;
  height: 100vh;
  float: left;
  position: relative;
  z-index: -1;
  top: -10px;
  margin-left: -10px;
  clip-path: circle(150px at center);
  transition: all 500ms ease;
  left: 30px;
  top: -250px;
  animation: shakenul 2s;
	animation-iteration-count: infinite;
}

.sections2 {
  width: 33vw;
  height: 100vh;
  float: left;
  position: relative;
  z-index: -1;
  top: -10px;
  margin-left: -10px;
  clip-path: circle(90px at center);
  animation: shake2 10s;
	animation-iteration-count: infinite;
  left: -20px;
  top: 200px;
}

@keyframes shake2 {
  0% { transform: scale(1); }
  30% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.sections2:hover {
  width: 33vw;
  height: 100vh;
  float: left;
  position: relative;
  z-index: -1;
  top: -10px;
  margin-left: -10px;
  clip-path: circle(130px at center);
  transition: all 500ms ease;
  animation: shakenul 2s;
	animation-iteration-count: infinite;
  left: -20px;
  top: 200px;
}

.sections3 {
  width: 33vw;
  height: 100vh;
  float: left;
  position: relative;
  z-index: -1;
  top: -10px;
  margin-left: -10px;
  clip-path: circle(90px at center);
  animation: shake3 10s;
	animation-iteration-count: infinite;
  left: -60px;
  top: -50px;
}

@keyframes shake3 {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.sections3:hover {
  width: 33vw;
  height: 100vh;
  float: left;
  position: relative;
  z-index: -1;
  top: -10px;
  margin-left: -10px;
  clip-path: circle(110px at center);
  transition: all 500ms ease;
  left: -60px;
  animation: shakenul 2s;
	animation-iteration-count: infinite;
  top: -50px;
}

/* #sections1:hover {
  width: 33vw;
  height: 100vh;
  float: left;
  position: relative;
  z-index: -1;
  top: -10px;
  margin-left: -10px;
  background: red;
} */

#sections1 {
  width: 33vw;
  height: 300px;
  float: left;
  position: absolute;
  z-index: 1;
  top: -10px;
  margin-left: -10px;
}

.workbox {
  width: 33vw;
  height: 1000px;
  z-index: -1;
  opacity: 0;
}

.workbox:hover {
  transition: all 500ms ease;
  opacity: 1;
}

.home {
  position: absolute;
  z-index: 2;
  width: 100px;
  height: 100px;
  margin-left: 94%;
  top: 89%;
}

img {
  height: 100vh;
}

h1 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  color: #0e0e0e;
  font-size: 50px;
  letter-spacing: 3px;
}

h2 {
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  color: #0e0e0e;
  font-size: 25px;
  letter-spacing: 1px;
}

h3 {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  color: #0e0e0e;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 475px;
  margin-left: 20px;
  text-align: center;
}

/* h3:hover {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 1px;
  margin-top: 35px;
  text-align: center;
} */

h4 {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  color: #0e0e0e;
  font-size: 16px;
  letter-spacing: 1px;
  float: left;
  margin-right: 85px;
}

/* h5 {
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  color: #3a3a3a;
  font-size: 25px;
  letter-spacing: 1px;
  margin-top: 35px;
  text-align: left;
} */

 p {
   font-family: adobe-garamond-pro, serif;
   font-weight: 400;
   color: #0e0e0e;
   font-size: 20px;
 }

 a {
   text-decoration: none;
   color: #0e0e0e;
 }

.about {
  margin-left: 63%;
  margin-right: 10%;
  margin-top: 3%;
  width: 400px;
  position: absolute;
  z-index: 1;
  text-align: left;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 300px;
  text-align: left;
  padding-top: 23%;
  padding-left: 1.5%;
}

.aboutheader {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 150px;
  padding-left: 1.5%;
  text-align: left;
}

#menu {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: #ffffff;
  margin: 5px;
  z-index: 1;
}

/* #menu:active {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: #ffffff;
  margin: 5px;
  z-index: 1;
} */

#menu2 {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: blue;
  margin: 5px;
  z-index: 1;
}

#menu3 {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: #ffffff;
  margin: 5px;
  z-index: 1;
}

@keyframes menu {
  0% {transform: translate(0px; 0px);}
  100% {transform: translate(10px; 0px);}
}

#contractmenu {
  position: absolute;
  width: 900px;
  height: 50px;
  top: 93%;
  z-index: 2;
  padding-left: 1.5%;
}

.expandmenu {
  background: red;
  position: absolute;
  width: 30px;
  height: 500px;
  top: 70%;
  z-index: 1;
}

.workwords {
  color: #3a3a3a;
  pointer-events: none;
}

.untitledwork {
  width: 400px;
  height: 600px;
  margin-left: 150px;
  margin-top: 200px;
  pointer-events: none;
}

.curvework {
  width: 400px;
  height: 600px;
  margin-left: 660px;
  margin-top: 650px;
  pointer-events: none;
}

.whitework {
  width: 400px;
  height: 600px;
  margin-left: 1160px;
  margin-top: 400px;
  pointer-events: none;
}

#curveshape1 {
  z-index: -3;
  position: absolute;
  top: 0px;
  cursor: pointer;
}

#untitledshape1 {
  z-index: -3;
  position: absolute;
  top: 0px;
  cursor: pointer;
}

#whiteshape1 {
  z-index: -3;
  position: absolute;
  top: 0px;
  cursor: pointer;
}

.indexcolumn {
margin-left: -50px;
position: absolute;
z-index: -2;
}

.col1 {
  width: 300px;
  margin-top: 520px;
  margin-left: 100px;
  float: left;
}

.col2 {
  width: 300px;
  margin-top: 520px;
  margin-left: 260px;
  float: left;
}

.col3 {
  width: 300px;
  margin-top: 520px;
  margin-left: 240px;
  float: left;
}
